<div class="header" >
  <div style="text-align: center; color: white"></div>
  <h1 >
    Welcome to Global Insight!
  </h1>

  <div style="text-align: center; color: white"></div>
</div>
<div class="author-info" >
  <div>
    <p>
      Embark on an exciting journey across borders with Worldview Digest, 
      your passport to the dynamic landscape of global politics. Our mission 
      is to unravel the intricate threads of international diplomacy, delve 
      into the nuances of local activism, and present you with a carefully 
      curated selection of news that transcends geographical boundaries.
    </p>

    <p>
      In an increasingly interconnected world, our commitment is to provide 
      you with more than just news updates. We invite you to gain a profound 
      understanding of the complex and intertwined issues shaping our collective 
      future. From the bustling corridors of global diplomacy to the grassroots 
      movements sparking change in communities, we strive to offer a comprehensive 
      view of the events that influence our shared destiny.
    </p>
  </div>
</div>
