<!-- Task 6+11: Add your HTML template here -->

<div class="header">
  <h1>
    Dive into Our Blog Collection!
  </h1>
</div>
<div class="blogs-area">
  <div class="blogs-grid">
    <div *ngFor="let blog of blogs" class="single-blog">
      <h3> {{ blog.data.blog_title }}
      </h3>
      <h5 style="color: #b78b08">
        <span class="uabb-meta-date">
          <i aria-hidden="true" class=""></i> {{ blog.data.timestamp }}
        </span>
      </h5>
      <div style="display: flex; justify-content: space-between;">
        <span><a [routerLink]="['/read',blog.id]" style="text-decoration: none;">Read Now →</a></span>
        <br>
        <span *ngIf="authService.getUsername() !== ''"><a [routerLink]="['/edit',blog.id]">Edit Now →</a></span>
        <br>
        <span *ngIf="authService.getUsername() !== ''"><button (click)="deleteBlogPost(blog.id)">Delete→</button></span>
      </div>
    </div>
  </div>
</div>